<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.pageTitle;</h3>

    <div style="text-align">
        Id: @ViewBag.employeeData.Id
    </div>
    <div>
        Name: @ViewBag.employeeData.Name
    </div>
    <div>
        Email: @ViewBag.employeeData.Email
    </div>


</body>
</html>